.logo {
    padding: 15px;
    max-width: 100%;
}

.unit-list {
    max-height: 200px;
    overflow: scroll;
}

.unit-list-item {
    width: 100% ;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 1px;
}

.dataset-body {
    overflow: scroll;
}

.data-preview {
    overflow: scroll;
    max-height: 300px;
}